# Environment files
backend/.env
frontend/.env

# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
backend/*.log
frontend/*.log

# Dependency lock files
backend/package-lock.json
frontend/package-lock.json

# Build artifacts
backend/dist/
frontend/dist/
backend/build/
frontend/build/

# Request http
backend/client.http